/*html, body {
    min-height: 100vh;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    !*right: 0;
    left: 0;*!
}*/

/*.header-2 .page-header .container {
    padding-top: 25vh;
}*/
body {
    background: #E5E5E5 !important;
    background: #fafafa !important;
}

.navbar.navbar-carbon {
    background-color: #444;
    color: #ffffff;
}

.navbar.navbar-carbon .navbar-form .form-group input.form-control::-moz-placeholder,
.navbar.navbar-carbon .navbar-form input.form-control::-moz-placeholder {
    color: #ffffff;
}

.navbar.navbar-carbon .navbar-form .form-group input.form-control:-ms-input-placeholder,
.navbar.navbar-carbon .navbar-form input.form-control:-ms-input-placeholder {
    color: #ffffff;
}

.navbar.navbar-carbon .navbar-form .form-group input.form-control::-webkit-input-placeholder,
.navbar.navbar-carbon .navbar-form input.form-control::-webkit-input-placeholder {
    color: #ffffff;
}

.navbar.navbar-carbon .dropdown-menu {
    border-radius: 3px !important;
}

.navbar.navbar-carbon .dropdown-menu li > a:hover, .navbar.navbar-carbon .dropdown-menu li > a:focus {
    color: #FFFFFF;
    background-color: #444;
}

.navbar.navbar-carbon .dropdown-menu .active > a {
    background-color: #444;
    color: #ffffff;
}

.footer-rose {
    background: #e91e63;
    background: -moz-radial-gradient(center, ellipse cover, #e91e63 0%, #e91e63 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e91e63), color-stop(100%, #e91e63));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #e91e63 0%, #e91e63 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #e91e63 0%, #e91e63 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #e91e63 0%, #e91e63 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #e91e63 0%, #e91e63 100%);
    /* W3C */
    background-size: 550% 450%;
}

.footer-rose a {
    color: #FFFFFF;
    opacity: .86;
}

.footer-rose a:hover, .footer-rose a:focus {
    opacity: 1;
}

.footer-rose .footer-brand {
    color: #FFFFFF;
}

.footer-rose .footer-brand:hover, .footer-rose .footer-brand:focus {
    color: #FFFFFF;
}

.footer-rose h5,
.footer-rose h4,
.footer-rose i,
.footer-rose .copyright {
    color: #FFFFFF;
}

.footer-rose hr {
    border-color: rgba(255, 255, 255, 0.2);
}

.form-group.is-focused .form-control {
    background-image: linear-gradient(#e91e63, #e91e63), linear-gradient(#D2D2D2, #D2D2D2);
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check {
    background: #e91e63;
}

.togglebutton label input[type=checkbox]:checked + .toggle {
    background-color: #e91e63;
}

.togglebutton label input[type=checkbox]:checked + .toggle:after {
    border-color: #e91e63;
}

.dropdownjs > ul > li .selected, .dropdownjs > ul > li:active, .dropdownjs > ul > li:focus, .dropdownjs > ul > li:hover {
    background-color: #e91e63;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    /*background-color: #e91e63;
    border-color: #e91e63;*/
    background-color: #333;
    border-color: #333;
}

@media (max-width: 768px) {
    .header-2 .page-header .container {
        padding-top: 8vh;
    }

    .card-algolia img {
        width: 50%;
    }
}

.searching-card .content .category {
    padding-top: 6px;
    float: right;
}

.btn-star {
    padding: 5px 10px !important;
    border: 1px solid;
}

.btn-star:hover,
.btn-star:active,
.btn-star:visited {
    border: 1px solid !important;
}

.tagsinput {
    border-bottom: 1px solid #D2D2D2;
}

.tagsinput input {
    width: 100px;
}

.card .content .form-group {
    margin: 0;
}

.ais-refinement-list--item {
    display: inline-block !important;
    margin-right: 1em;
}

.filter-counter {
    color: #e91e63;
}

.modal .modal-dialog {
    margin-top: 100px;
}

.ais-sort-by-selector {
    margin-top: 0.5em;
}

.badge-container {
    display: flex;
    flex-wrap: wrap;
}

.badge {
    width: 33%;
    background: transparent;
}

.badge > img {
    width: 100%;
}

.card [class*="cm-header-"] {
    color: #444;
}

.CodeMirror, .CodeMirror-scroll {
    min-height: 200px;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 75%;
        margin: 30px auto;
    }

    .badge {
        width: 16.66%;
    }

    .badge > img {
        width: 50%;
    }
}

.tarjeta {
    background: #fff;
    border: 1px solid #dfe0e0;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    border-radius: .25rem;
    margin-bottom: 1em;
}

.tarjeta-imagen {
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
}

.tarjeta-imagen img {
    border-radius: 0.25rem 0.25rem 0 0;
}

.tarjeta-titulo {
    margin: 0.5em 1em;
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
}

.tarjeta-titulo a:hover {
    color: #e91e63;
    color: black;
}

.tarjeta .tarjeta-contenido {
    margin: 0.5em 1em;
}

.tarjeta-contenido_descripcion {
    color: #888;
}

.tarjeta-footer {
    margin: 0.5em 1em;
    overflow: hidden;
}

.tarjeta-footer .btn {
    float: right;
}
















